/* style003.css */

.stripe {
    height: 33.33% ;
    width: 100% ;
}

#gold {
    background-color: #ffd700 ;
}

#red {
    background-color: red ;
}

#black {
    background-color: black ;
}

#flag {
    margin: -8px ;
    height: 300px ;
    width: 500px ;
}
