/* style005.css */

.stripe {
    width: 100%;
    height: 50%;
}

.blacksquarefirstsq {
    margin: 50px 25px 50px 50px;
    height: 100px;
    width: 100px;
    /*display: inline-block;*/
    background-color: black;

}

/*.blacksquaresecondsq {
    margin: 50px 50px 50px 25px;
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: black;

}
*/
#bigsq {
    margin: -8px;
    width: 350px;
    height: 400px;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}